{% extends "layout.twig" %}

{% block content %}

<div class="bk-pt-default">
    {{widget('extendednavigation', 'navigationheader', {"align":"center"})|raw}}

<div class="canvas">    
    <header class="bk-header clearfix">
        <div class="companyheader">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
        </div>
    </header>
    <div class="main clearfix">
        {{zone('main')|raw}}
    </div> <!--end main -->
    <footer class="bk-footer wrapper clearfix">
        <div class="profile-container">
            {{widget('profile', 'email-footer', { 'profileType':'email'})|raw}}
            {{widget('profile', 'socialicons-footer', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
        </div>
    </footer>
</div><!--end canvas -->

</div>

{% endblock %}
