
{% extends "layout.twig" %}

{% block content %}

<div class="bk-pt-home">
    {{widget('extendednavigation', 'navigationheader', {"align":"center"})|raw}}

<div class="canvas">    
    <header class="bk-header clearfix">
            <div class="companyheader">
                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
            </div>
            <div class="profile-container">
                {{widget('line', 'line', {'thickness': 'inherit', 'padding': 'inherit', 'length':'inherit', 'align': 'center'})|raw}}
                {{widget('profile', 'headline', { 'profileType':'headline'})|raw}}
                {{widget('profile', 'strapline', { 'profileType':'strapline'})|raw}}
            </div>
    </header>
    <div class="main clearfix">
        {{widget('gallery', 'homepagegallery', 
      {'showDescription': true,
      'showTitle': true,
      'images':
      [
      {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/1.jpg'), 'title':'Lorem Ipsum', 'description': 'Lorem Ipsum Dolor Sit'},
      {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/2.jpg'), 'title':'Lorem Ipsum', 'description': 'Lorem Ipsum Dolor Sit'},
      {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/3.jpg'), 'title':'Lorem Ipsum', 'description': 'Lorem Ipsum Dolor Sit'},
      {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/4.jpg'), 'title':'Lorem Ipsum', 'description': 'Lorem Ipsum Dolor Sit'},
      {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/5.jpg'), 'title':'Lorem Ipsum', 'description': 'Lorem Ipsum Dolor Sit'},
      {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/6.jpg'), 'title':'Lorem Ipsum', 'description': 'Lorem Ipsum Dolor Sit'},
      {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/7.jpg'), 'title':'Lorem Ipsum', 'description': 'Lorem Ipsum Dolor Sit'},
      {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/8.jpg'), 'title':'Lorem Ipsum', 'description': 'Lorem Ipsum Dolor Sit'},
      {'imageHeight':'246', 'imageWidth':'246', 'url':asset('/images/gallery/9.jpg'), 'title':'Lorem Ipsum', 'description': 'Lorem Ipsum Dolor Sit'},
      ]
      })|raw}}
    {{zone('main')|raw}}
    </div> <!--end main -->
    <footer class="bk-footer wrapper clearfix">
        <div class="profile-container">
            {{widget('profile', 'email-footer', { 'profileType':'email'})|raw}}
            {{widget('profile', 'socialicons-footer', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
        </div>
    </footer>
</div><!--end canvas -->

</div>

{% endblock %}
